.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}
.owl-item .wp-caption-text {
  margin-bottom: 0;
  padding: .25em 0;
  line-height: 1.4;
  text-align: left;
}
.owl-title {
  text-align: center;
  font-size: 1.4em;
  margin: 0.5em 0;
}
.owl-theme .owl-nav > div {
  position: absolute;
  top: calc(50% - 18px);
  left: 10px;
}
.owl-theme .owl-nav .owl-next {
  position: absolute;
  left: inherit;
  right: 10px;
}
.owl-theme .owl-nav [class*=owl-] {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: rgba(255,255,255,0.75);
  background-color: transparent;
  transition: color 0.25s ease, background-color 0.25s ease;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #900;
  background-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] i {
  font-style: normal;
}
.owl2-prev-slide:before {
  content: '\25c0';
}
.owl2-next-slide:before {
  content: '\25B6';
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #900;
}
.owl2-slideshow-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}